# EditorConfig

# Properties supported by the editorconfig-vim plugin
#   * indent_style [tab,space]
#   * indent_size
#   * tab_width
#   * end_of_line
#   * trim_trailing_whitespace [true, false]
#   * insert_final_newline [true, false]
#   * max_line_length [integer, off]

# top-most EditorConfig file
root = true

# Unix-style newlines, a newline ending every file, utf-8
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 4
